@import url('https://fonts.googleapis.com/css2?family=Spicy+Rice&display=swap');

* {
    margin: 0%;
    padding: 0%;
    list-style: none;
    scroll-behavior: smooth;
    /*scrool suave nas trasiçoes*/
}

header {
    padding: 25px;
    /*responsavel pelo preenchimento interno/tamanho*/
    background-color: #000000;
    /*cor de fundo*/
    display: flex;
    /*tornando os itens flex/ lado a lado*/
    justify-content: center;
    /*justificando o conteudo ao centro*/
    gap: 50px;
    /*espaço entre os elementos*/
    align-items: center;
    /*responsavel por alinhar verticalmente os itens*/
}

header i {
    color: #7890a8;
    /* cor do icone */
    font-size: 60px;
    /* tamanho do icone */
}

header h1 {
    color: #7890a8;
    /*cor da letra*/
    font-size: 45px;
    /*tamanho da letra*/
    font-family: "Spicy Rice", serif;
}

.list-menu ul {
    /*Alteraçao na lista nao oredenada (elemento pai)*/
    display: flex;
    /* tornando as ( li ) flex/ladoa a lado*/
    justify-content: center;
    /*Deixando elas centralisadas*/
    gap: 25px;
    /*Espaço entre as ( li )*/
}

.list-menu ul li {
    /*Alteraçao da lista ( li ) (elemento filho)*/
    list-style: none;
    /*removendo o estilo de lista aplicado por psdrao*/
}

.list-menu ul li a {
    text-decoration: none;
    /*remoçao do sublinhado (Descoraçao de texto*/
    color: #7890a8;
    /*cor da letra*/
    font-family: "Spicy Rice", serif;

}

.list-menu ul li a:hover{
    color: #f0a818;
    transition: 0.08s;
}

 .sessao-01 button:hover {
   background-color: #f0a818;
    transition: 0.08s;
}

.section-02 {
    padding: 200px;
    background-color: #304878;

    display: flex;
    align-items: center;
    justify-content: space-evenly;
    gap: 20px;
}

.section-02 div {
    width: 300px;
    height: 600px;
    background-color: #304878;
    text-align: center;
}

.caixa-01 img {
    width: 100%;
}


.caixa-01 p {
    font-size: 15px;
    color: rgb(7, 7, 7);
    font-weight: 700;
}


.sessao-01 {
    padding: 200px;
    /*responsavel poelo oreenchimento interno/tamanho*/
    background-image: url(imagem/home-1682316_1280.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;

    display: flex;
    align-items: center;
    justify-content: center;
}

.sessao-01 img {
    width: 230;
    height: 230;
}

.sessao-01 button {
    width: 230px;
    height: auto;
    padding: 10px;
    background-color: #181848ce;
    color: #6c94bd;
    border-radius: 7px;

    border-color: transparent;
    font-family: "Spicy Rice", serif;
}

.section-02 {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    gap: 15px;

    padding: 160px;
    background-color: #6c94bd;
}

.section-02 div {
    width: 350px;
    height: 600px;
    background-color: #304878;

}

.sessao-03 {
    padding: 160px;
    background-color: #7890a8;
    display: flex;
    justify-content: space-evenly;
    gap: 15px;
    align-items: center;
}

.sessao-03 div img {
    width: 500px;
    height: 500px;
    border-radius: 10px;
}

.sessao-03 div p {
    font-size: 30px;
    color: black;
    font-weight: 500;
    font-family: "Spicy Rice", serif;
}

.sessao-03 span {
    color: #f0a818;
    font-size: 40px;
    font-weight: 600;
}

.sessao-04 {
    padding: 160px;
    background-color: #304878;
    display: flex;
    justify-content: space-evenly;
    gap: 50px;
    align-items: center;
}

.sessao-04 iframe {
    border-radius: 15px;
}

.sessao-04 p {
    font-size: 30px;
    color: #000000;
    background-color: #7890a8;
    padding: 10px;
    font-family: "Spicy Rice", serif;
}

.sessao-04 span {
    color: #f0a818;
}

footer {
    background-color: #f0a818;
    padding: 50px;

    color: #000000;
    text-align: center;
    line-height: 20px;
    font-family: "Spicy Rice", serif;
}

footer img {
    width: 100px;
    height: 100px;
}

footer:hover{
    color: #304878;
     transition: 0.08s;
}